body{
    height: 100vh;
    position: relative;
    padding-top: 6rem;
    padding-left: 18rem;
}
.task-container{
    margin-top: 1em;
}
.task-input{
    width: 72%;
    padding: 1em 0 1em 1em
}
.error-message{
    color: red;
}
.hidden{
    display: none;
}
.add-btn {
    padding: 1em;
}
.task-div{
    width: 90%;
    border: 1px solid black;
    margin-top: 2em;
    padding: 1em 0 1em 1em;
}

.task-name{
    color: red;
    display: inline-block;
    margin: 0;
}
.delete-icon{
    width: 30px;
    vertical-align: middle;
}